@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');



.home{
  overflow-y: scroll;
  position: fixed;
 background-color: white;
 width: 100vw;
 min-height: 100vh;
 top: 4rem;
}
.quotediv{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  margin: 2rem ;
box-shadow: inset 0 -4px 20px rgba(0, 0, 0, 0.12);

}
.quotetext{
  font-family: 'Times New Roman';
 
  margin: 2rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: black;
  font-weight: 1000;
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(-12px);
  animation: revealUp 1s ease-out forwards;
}
.belowquote{
  box-shadow: 0 -4px 8px -4px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  margin-top: 10px;
}
.texthamhome {
  margin: 16px 20px;   
  padding: 14px 18px;
  border-radius: 1rem;
  background-color: grey;
  font-family:  serif; 
  font-size: 20px;
  line-height: 1.6;
  color: white; 
  text-align: center;
  box-shadow: 
  inset 0 2px 4px rgba(255, 255, 255, 0.25),
    inset 0 -2px 4px rgba(0, 0, 0, 0.25),
    inset 2px 0 4px rgba(255, 255, 255, 0.15),
    inset -2px 0 4px rgba(0, 0, 0, 0.15);      
}

.texthamhome .ham {
  font-size: 18px;
  color: white;
  background-color: black;
  padding: 0.35rem 0.45rem 0.3rem 0.45rem;
  border-radius: 0.2rem;
  
}
@keyframes revealUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.statcard{
  margin: 4rem 1rem;
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: white;
  border: 1px solid black;
  border-radius:10px ;
  gap: 1px;
}
.perstat{
  background-color: white;
  padding: 16px;
  text-align: center;
}
.perstat h2 {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: black;
  
}

.perstat p {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 0.85rem;
}