.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
  background-color: white; 
  backdrop-filter: blur(16px);                
  -webkit-backdrop-filter: blur(16px);        
  border-bottom: 1px solid #e5e7eb;      
}
.searchInput , .navbar {
  display: flex;         
  justify-content: space-between;  
  align-items: center;     
  height: 4rem;    
  margin: 0 ;       
}
.searchInput {
  position: relative;  
  padding: 0rem;      
}
.inputBar {
  width: 100%;
  margin: 0%;
  padding: 0rem 0rem 0rem 0rem;
  background-color: #e5e7eb;
  color: #000000;
  font-size: 1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 1000;
  outline: none;
  height: 100%;
  padding: 0px 0px 0px 1rem;
}
.closeSearchBtn {
  position: absolute;
  right: 14px;
  top: 50%;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background: transparent;
  color: #000000;
  font-size: 18px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);

}
.leftNav {
  display: flex;         
  align-items: center;     
  padding-left: 1rem;       
  padding-right: 1rem;
  padding-top: 0.75rem;   
  padding-bottom: 0.75rem;
  gap: 0.75rem;             
}
.menuBtn {
  display: flex;        
  margin-right: 0.5rem;
  align-items: center;  
  gap: 0px;         
  padding: 0.5rem;
  border-radius: 0.275rem;          
}
.hamburgerIcon {
  width: 1.5rem;  
  height: 1.5rem;
  color: #ffffff;   
}
.logoText {
  display: flex;
  align-items: center;
  gap: 1px;
  font-weight: 800;
  font-size: 1.5rem;   
  line-height: 1;        
  color: black;
}
.logoBrain {
  width: 1.5rem;
  height: 1.5rem;
  padding-bottom: 0.0987rem;
  color: #000000; 
}
.rightNav {
  display: flex;         
  align-items: center;     
  padding-left: 1rem;       
  padding-right: 2rem;
  padding-top: 0.75rem;   
  padding-bottom: 0.75rem;
  gap: 1.5rem;             
}
.searchIcon , .darkModeIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: #000000; 
  cursor: pointer;
}

