.paperview {
  position: fixed;
  top: 4rem;
  bottom: 4rem; /* 👈 leaves space for bottom bar */
  left: 0;
  width: 100vw;

  background-color: white;
  color: black;
  padding: px;

  z-index: 1;
  display: flex;
  flex-direction: column;
}
.pprhead{
  display: flex;
  align-items:center ;
  padding: 0 0 0 0;
  margin-bottom: 10px;
}

.pprhead h4 {
  position: relative;
  margin-bottom: 12px;
  font-size: 1.rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
}
.pprhead h4::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0.1rem;
  width: 50%;
  height: 3px;
  border-radius: 999px;
  background-color: red; 
}

.paperList {
  list-style: none;
  padding: 0;
  margin: 0rem 0.7rem 0rem;
  overflow-y: auto;
  flex: 1;
}
.paperTypeHeading{
  color: red;
  display: inline-block;
  position: relative;
  font-weight:bold ;
  margin: 0.1rem 1rem 0.3rem;
}
.paperItem {
  display: flex;
  background: white;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 1px solid black;
}

/* LEFT */
.paperIcon {
  width: 56px;
  height: 56px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  flex-shrink: 0;
}

/* RIGHT */
.paperDetails {
  margin-left: 12px;
  flex: 1;
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  min-width: 0; 
}

/* TOP – overflow only here */
.paperName {
  max-width: 100%;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis
  overflow-x: auto;
  overflow-y: hidden;
}
.paperNameText{
  display: inline-block;
  padding-right: 40px;
  will-change: transform;
}
/* BOTTOM – single line, same styling */
.paperMeta {
  font-size: 10px;
  color: black;
  white-space: nowrap;
}