
.loadingScreen {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid black;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.paperview {
  position: fixed;
  top: 4rem;
  bottom: 0rem;
  left: 0;
  width: 100vw;
  overflow-y: scroll;
  background-color: white;
  color: black;
  padding: px;
  margin-bottom: 4rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.pprhead{
  display: flex;
  align-items:center ;
  padding: 0 0 0 0;
  margin-bottom: 10px;
}

.pprhead h4 {
  position: relative;
  margin-bottom: 12px;
  font-size: 1.rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
}
.pprhead h4::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0.1rem;
  width: 50%;
  height: 3px;
  border-radius: 999px;
  background-color: red; 
}

.paperList {
  list-style: none;
  padding: 0;
  margin: 0rem 1rem 0rem;
  overflow-y: auto;
  flex: 1;
}
.paperTypeHeading{
  color: red;
  display: inline-block;
  position: relative;
  font-weight:bold ;
  margin: 0.1rem 1rem 0.3rem;
}
.paperItem {
  display: flex;
  background: #80808018;
  padding: 12px;
  padding-left: 0px;
  border-radius: 1px;
  margin-bottom: 15px;
  height: auto;             /* constant height */
  box-sizing: content-box;    /* include padding in height */
}

/* LEFT */
.paperIcon {
  width: 56px;
  height: 56px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* RIGHT */
.paperDetails {
  margin-left: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertical center */
  align-items: start;      /* horizontal center */
  color: black;
  min-width: 0; 
  
}

/* TOP */
.paperName {
  max-width: 100%;
  position: relative;
  font-size: 16px;
  font-weight: 1000;
  white-space: normal;
  line-height: 1.2rem;
  text-align: left; 
  overflow-wrap: break-word; 
  margin-bottom: 4px;  
}

/* BOTTOM */
.paperMeta {
  font-size: 10px;
  font-weight: bold;
  color: red;
  white-space: nowrap;
  text-align: left; 
}