.resourceview {
  position: fixed;
  top: 4rem;
  bottom: 4rem;
  left: 0;
  right: 0;
  
  overflow-y: auto;
  background-color: white;
  color: black;
  padding: 0px 0px ;
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.reshead{
  display: flex;
  justify-content: center;
  align-items:center ;
  padding: 0 0 0 0;
  margin-bottom: 0px;
 padding-left: 10px;
  
}

.reshead h4 {
  position: relative;
  margin-bottom: 12px;
  font-size: 01rem;
  margin-top: 1rem;
  margin-left: 0rem;
}
