.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background: rgb(255, 255, 255);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 500;
}

.sidebar.open {
  transform: translateX(0);
}
.sidebar.close{
    transform: translateX(-100%);
}
.sidebarhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
}
.heading {
  gap: 0rem;    
  font-size: 1.5rem;
  margin:0;
  font-weight: bold;
  padding: 1rem;
  color: black;
}

.closebtn {
  background: none;
  margin-right: 1.5rem;
  color: black;
}
.departmentList{
  list-style: none;
  margin: 0rem;
  padding: 1rem;
  line-height: 3.5rem;
}
.departmentItem{
  margin: 0rem;
  padding: 0rem;
  color: black;
}